.cover-title {
    position: absolute;
    top: 280px;
    left: 520px;
    font-size: 100px;
}
.cover-subtitle {
    position: absolute;
    top: 390px;
    left: 370px;
    font-size: 25px;
}
.cover-arthor {
    position: absolute;
    top: 470px;
    left: 640px;
    font-size: 30px;
}
