.data-flow-title {
    position: absolute;
    top: 80px;
    left: 120px;
    font-size: 50px;
}
.data-flow-dispatch {
    position: absolute;
    top: 160px;
    left: 420px;
    font-size: 30px;
    z-index: 2;
}
.data-flow-subscribe {
    position: absolute;
    top: 480px;
    left: 800px;
    font-size: 30px;
    z-index: 2;
}
.data-flow-getState {
    position: absolute;
    top: 520px;
    left: 800px;
    font-size: 30px;
    z-index: 2;
}
.data-flow-combineReducers {
    position: absolute;
    top: 700px;
    left: 150px;
    font-size: 30px;
    z-index: 2;
}
.data-flow-redux {
    position: absolute;
    top: 200px;
    left: 400px;
    height: 500px;
}
