.reducers1-title {
    position: absolute;
    top: 80px;
    left: 120px;
    font-size: 50px;
}
.reducers-slide-sublist2 {
    position: absolute;
    top: 150px;
    left: 30px;
    font-size: 25px;
}
